.DS_Store
node_modules
/.svelte
/build
/functions
.svelte-kit/
.vercel_build_output/
package-lock.json
.svench

.DS_STORE
.cache
.temp
node_modules/
dist/yarn-error.log
.task/
.histoire/dist
dist
src/lib/components/__image_snapshots__/__diff_output__/
.histoire/dist
